html,
body {
  padding: 0;
  margin: 0;
  background: white;
  height: 100%;
}

.root {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}